/*background*/
html body{
    background: url("imgRes/neutralBlue.jpg") no-repeat center center fixed;
    background-size: 100% 100%;
}

body {
    margin-bottom: 70px;
}

/*bootstrap mods*/
.jumbotron {
    opacity: 0.8;
}

.nav-pills a{
    color: #000000;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: #EFC0C6;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #A74A58;
}

/*personal styling*/

div.textFrame {
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 15px;
    opacity: 0.75;
}

div.textFrame p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
}

.wrapper {
    min-height: 100%;
    margin: 0 auto -7em;
}
.footer, .push {
    height: 7em;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #ffffff;
    opacity: 0.8;
}

.imgLink{
    background-color: white;
    opacity: 1;
    padding: 3px;
}

.mediaSize{
    width:70%;
    margin:auto;
}

.screenshotSize{
    width:35%;
    margin:auto;
}

.name {
    font-family: "Tangerine", serif;
    font-size: 60px;
    text-shadow: 4px 4px 4px #aaa;
    opacity: 1;
}

.title {
    font-family: 'Ubuntu', sans-serif;
}

