/*background*/
html {
    background: url("imgRes/SaigyouAyakashi.jpg") no-repeat center center fixed;
    background-size: 100% 100%;
}

body {
    margin-bottom: 40px;
    background: url("imgRes/SaigyouAyakashi.jpg") no-repeat center center fixed;
    background-size: 100% 100%;
}

/*bootstrap mods*/
.jumbotron {
    opacity: 0.8;
}

.nav-pills a{
    color: #000000;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: #EFC0C6;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #A74A58;
}

/*personal styling*/


.footer {
    position: absolute;
    height: 75px;
    width: 100%;
    bottom: 0;
    background-color: #ffffff;
}

.mediaSize{
    width:70%;
    margin:auto;
}

div.textFrame {
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 15px;
    opacity: 0.8;
}

div.textFrame p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
}